.menu {
  padding-top: 80px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list {
  background: #605858;
  list-style-type: none;
  width: 360px;
  border-radius: 4px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1607843137);
}

.menu__title {
  background: #605858;
  color: rgba(244, 243, 241, 0.9411764706);
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 10px;
  border-radius: 4px;
  padding-left: 25px;
  border-bottom: 2px dotted grey;
}

.menu__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 2px dotted grey;
  border-bottom: 2px dotted grey;
  padding: 0px 25px;
  color: red;
}

.menu__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.menu__item-name {
  margin-right: 20px;
  color: rgba(244, 243, 241, 0.9411764706);
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.menu__item-dots {
  flex-grow: 1;
  border-bottom: 2px dotted black;
  margin-top: 2%;
  background-color: rgba(244, 243, 241, 0.9411764706);
}

.menu__item-price {
  margin-left: 20px;
  color: rgba(244, 243, 241, 0.9411764706);
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.menu__item-ingredients {
  color: rgba(244, 243, 241, 0.9411764706);
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: lowercase;
  margin-bottom: 20px;
}

.menu__no-items {
  color: rgba(244, 243, 241, 0.9411764706);
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: none;
}

.menu__dip-title {
  color: rgba(244, 243, 241, 0.9411764706);
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 2px dotted grey;
}

.menu__dip-dots {
  flex-grow: 1;
  border-bottom: 2px dotted rgba(244, 243, 241, 0.9411764706);
  margin-top: 2%;
  margin-left: 20px;
  color: #605858;
}

.menu__dip-price {
  color: rgba(244, 243, 241, 0.9411764706);
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-left: 20px;
}

.menu__dip-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  gap: 30px 10px;
  padding-bottom: 25px;
}

.menu__dip-item-rectangle {
  width: 92px;
  height: 33px;
  border-radius: 4px;
  gap: 10px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  background: rgba(241, 240, 236, 0.2392156863);
}

.menu__dip-item-name {
  color: rgba(244, 243, 241, 0.9411764706);
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: lowercase;
}/*# sourceMappingURL=Menu.css.map */