$font-white-color: #f4f3f1f0;
$font-black-color: #353131;

$menu-page-background-color: #8ed8bf;
$menu-background-color: #605858;
$order-page-background-color: #eeeeee;
$eta-and-receipt-page-background-color: #605858;

$primary-font-family: "Fira Sans", sans-serif;
$secondary-font-family: "Ubunto Mono", sans-serif;
