$font-white-color:#F4F3F1F0;
$font-black-color:#353131;;

$menu-page-background-color: #8ED8BF;
$menu-background-color: #605858;
$order-page-background-color: #EEEEEE;
$eta-and-receipt-page-background-color: #605858;;

$primary-font-family: "Fira Sans", sans-serif;
$secondary-font-family: "Ubunto Mono", sans-serif;